@import "./variables1";

@mixin blackbut ($width, $height, $bord-rad){
    background-color: map-get($mp, b);
    color: map-get($mp, w);
    border: map-get($mp, b);
    font-family: Georgia;
    font-weight: bold;
    font-size: 8pt;
    border-radius: $bord-rad;
    width: $width;
    height: $height;
    outline: none;
    cursor: pointer;
    &:hover{
        box-shadow: 0 0 2px 1px map-get($mp, b);
        transition: 0.1s;
    }
    &:focus{
        background-color: map-get($mp, lb);
    }
}

@mixin headnav ($marg-l, $marg-r){
    display: flex;
    flex-direction: row;
    margin-left: $marg-l;
    margin-right: $marg-r;
}

.headnav1 nav ul{@include headnav(50px,0);}
.headnav2 nav ul{@include headnav(0, 50px);}


.BuyForm button{
    @include blackbut(100px, 36px, 0px);
    margin-top: 20px;
    margin-right: 200px;
}
.MainCart button{
    @include blackbut(130px, 40px, 20px);
    margin-top: 50px;
}

.OutAdv{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: map-get($mp, w);
    background-color: map-get($mp, b);
    max-height: $constheig;
    height: $constheig;
    font-family: Georgia;
}    
.News{
    @extend.OutAdv;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    color: map-get($mp, w);
    height: 80px;
    width: 100%;
    background-color: map-get($mp, b);
    align-items: center;
    a{
        text-decoration: none;
        color: map-get($mp, w);
        &:hover
        {
            text-decoration: none;
            color: map-get($mp, g);
            transition: 0.3s;   
        }
    }
}

